# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- Explore common libraries used in Data Science  
- Demonstrate basic arithmetic expressions in Python  
- Convert time units using Python expressions  
- Create and format Markdown and Code cells in Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. plotly
2. ggplot
3. scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio          |
| Spyder           |

### Below are a few examples of evaluating arithmetic expressions in Python

Here are some basic arithmetic operations in Python:

- **Addition (+):** `3 + 5 = 8`
- **Subtraction (-):** `10 - 4 = 6`
- **Multiplication (*):** `6 * 7 = 42`
- **Division (/):** `20 / 5 = 4.0`
- **Exponentiation (**):** `2 ** 3 = 8`
- **Modulus (%):** `10 % 3 = 1`
- **Floor Division (//):** `10 // 3 = 3`

In [21]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)  # Output: 17

17

In [23]:
# This will convert 200 minutes to hours by dividing by 60.
hours = 200 / 60
print(hours)

3.3333333333333335

## Author  
Talha YiÄŸit